*{
	margin: 0px;
	padding:0px;
}
.nav-img{
  width: 70px;
  height: 35px;
  
}
html{
	scroll-behavior: smooth;
}
.thumb{
  -webkit-box-shadow: -5px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
  box-shadow: -1px -13px 170px -2px #ff6600;
}

.pro-head-text
{
	font-size: 25px;
	text-align: center;
	color: white;
	margin-top: 30%;
}
.pro-para-text{
	font-size: 12px;
	margin-left: 210px;
	color: white;
	margin-top: 2%;
}
.main{
	background-color: #ff9900;
	padding-top: 150px;
	padding-bottom: 280px;
	border-radius: 20px;
	border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}
.typewrite{
	color: white;
	align-items: center;
	font-weight: bold;
}

.home{

	margin-top: 20%;

}
.brand-img{
	width: 90%;
	margin-left: 20px;
	margin-top: 50px;
}
.brand-text{
	font-size: 20px;
	margin-top: -130px;
	margin-left: 200px;
	font-weight: 400;
}
.typewrite{
	margin-top: 50%;
	font-size: 17px;
	margin-left: 90px;
	
}



/*---------gallary---------------------*/
.bappa{
	margin-top: -20px;
	padding-top: 5%;
	background-color: #ffffe6;
	border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: skewY(-2deg);
    


}
.murti-type{
	font-weight: 700;
	margin-left: 10px;

	color: #ff3300;
	text-shadow: 2px 5px #ffff99;
}
.murti-info{
	margin-left: 50px;
	margin-bottom: 20px;
}
.sr-no{
	text-align: center;
	color: white;
}

.box{
	background-color: #ffffe6;
	border-radius: 20px;
	margin-bottom: 30px;
	padding-top: 30px;
}
.bappa-head-text{
	color: #ff5500;
	padding-top: 10%;
	font-weight: 200;
}

.height{

	font-size: 10px;

}
.height-m{

	font-size: 12px;
	
	margin-left: -6px;
}
.thumbnail{
  
  -webkit-box-shadow: -5px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -13px 130px -2px rgba(214,214,214,1);
}

.h-s{
	margin-left: 35px;
	margin-top: -10px;
	margin-bottom: 20px;
}
.contact-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 2px;
  
}
.stock{
	
	
	padding-left: 5px;
	font-size: 10px;



}
.stock-m{
	margin-top: -24px;
	margin-left: 50px;
	
	font-size: 12px;
	margin-bottom: 20%;
}

.hr{
  border-top: 1px solid #ff6600;
  margin-top: -50px;
  margin-bottom: 20%;
  opacity: 0.2;
}

.icon{
  margin-top: -11px;
  padding-bottom: 25px;
  margin-left: 10px;
 
}
.icon-text{
	margin-top: -2px;
	margin-left: 40px;
	
	font-size: 14px;
	font-family: calibri;
	margin-top: 0px;
}
.containerr.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;

}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}
.margin{
	margin-left: 10px;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}



/*=----------payment menthos------------*/


.payment{
	border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: skewY(-2deg);
	padding-top: 20%;
	background-color: #b3b3b3;
	padding-bottom: 20%;
}

.payment-head-text{
	transform: skewY(2deg);
	padding-bottom: 10%;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}

.payment-img{
	transform: skewY(2deg);
	width: 90%;
	margin-left: 20px;
}
.account-head-text{
	padding-top: 20%;
	transform: skewY(2deg);
	padding-bottom: 10%;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}


.details-head{
  transform: skewY(2deg);


  font-weight: normal;
}
.details{
  transform: skewY(2deg);

  text-align: center;
  list-style: none;

}
/*-------contact developer----*/

.Contact{
	margin-top: -30px;
	background-color: #e6ffe6;
	padding-top: 20%;
	padding-bottom: 20%;
}
.contact-head-text{
	padding-top: 20%;
	
	padding-bottom: 10%;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}

.digital-card{
	margin-top: 10%;
	margin-bottom: 20%;
	align-items: center;
	margin-left: 45px;
}
.para{
	padding: 10px;
}
